@font-face
	font-family: "Pacifico"
	src: url('/Pacifico.ttf')

h1, h2
  font-family: $pacifico
  color: $pink
  font-size: 30pt
  text-shadow: 2px 2px $pink-shadow
  text-align: center

bold
  color: $secondary
