@font-face
	font-family: "Pacifico"
	src: url('~assets/Pacifico.ttf')
@font-face
	font-family: "Viga"
	src: url('~assets/Viga.woff2')

h1, h2
  font-family: $pacifico
  color: $pink
  font-size: 30pt
  text-shadow: 2px 2px $pink-shadow
  text-align: center

bold
  color: $secondary
