@font-face
	font-family: "Raleway"
	src: url('~assets/Raleway.woff2')
@font-face
	font-family: "Abril Fatface"
	src: url('~assets/AbrilFatface.woff2')

h1, h2
  margin-bottom: 1rem
  font-family: $abril
  color: $pink
  font-size: 3rem
  font-weight: 400
  text-shadow: 2px 2px $pink-shadow
  text-align: center
  transform: rotate(-4deg)
  @media #{$medium-up}
    font-size: 4rem

bold
  color: $secondary
