$light-blue: #09d4ff
$blue: #0978f5
$purple: #573ecb
$white: #fff
$pink: #ff50b8
$pink-shadow: #7d00b8

$primary: #7786fb
$secondary: #ffbac7
$bg-pink: #fce5ec
$bg-purple: #7685ff
$secondary-btn: #ffc6d8

$abril: 'Abril Fatface', sans-serif
$raleway: "Raleway", Helvetica, Arial, sans-serif
