$white: #fff
$primary: #7786fb
$secondary: #ffbac7
$bg-pink: #fce5ec
$bg-purple: #7685ff
$bg-form: #fff1f5
$secondary-btn: #ffc6d8
$portfolio: #c2c8f7
$grey: #e8e8e8

$abril: "Abril Fatface", serif
$raleway: "Raleway", Helvetica, Arial, sans-serif
