@import "helpers"
@import "normalize"
@import "typo"

html
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
  font-size: 16px
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  height: 100%
*, *:before, *:after
  box-sizing: border-box
  margin: 0
body
  text-align: center
  font-family: $viga
  color: $primary
  height: 100%
section
  height: 100vh !important
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  &.fancy
    background: linear-gradient(45deg, $light-blue, $blue)
    color: $purple
p
  padding: .5em
  line-height: 1.5em
  max-width: 640px

strong
  font-weight: 400
  background-color: $secondary
  padding: 0 2px

.hidden
  display: none

.btn
  overflow: hidden
  position: relative
  color: $white
  cursor: pointer
  padding: 1em 4em
  border-radius: 4em
  text-decoration: none
  border: none
  font-family: Viga
  font-size: inherit
  margin: 1.5em
  span
    position: relative
    z-index: 3
  &::before, &::after
    content: ""
    position: absolute
    border-radius: 4em
    height: 100%
    width: 100%
    top: 0
    left: 0
    background-color: $purple
  &::after
    z-index: 1
    background-color: $pink
  &:not([disabled])
    &::before
      z-index: 2
      background-color: $purple
      transform: translateX(-100%)
      transition: all 0.6s ease 0.2s
    &:hover::before
      transform: translateX(0)
      transition: all 0.4s ease 0s

input:focus,
select:focus,
textarea:focus,
button:focus
    outline: none
